/* Write your global styles here, in PostCSS syntax */
@import "@fortawesome/fontawesome-free/css/all.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    padding: 0;
}

/* ===== Scrollbar CSS ===== */
*::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: none;
}

@media (prefers-color-scheme: dark) {
    *::-webkit-scrollbar {
        background: rgb(31 41 55 / 1);
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgb(81, 87, 104);
    }
}

@media (prefers-color-scheme: light) {
    *::-webkit-scrollbar {
        background: rgb(255 255 255 / 1);
    }

    *::-webkit-scrollbar-thumb {
        background-color: rgb(0 0 0 / 1);
    }
}

.link {
    font-weight: bold;
    text-decoration: underline;
}

.alert-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

/* Hide the arrows on number input fields */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}
